.sidenav{height:100%;width:0;position:fixed;z-index:1;top:0;right:0;overflow-x:hidden;transition:.5s;padding:7vh 0 0 0}
.sidenav a{text-decoration:none;font-size:2.75vh;color:#fff;display:block;transition:.3s}
.sidenav a:hover{color:#f1f1f1}
.sidenav .closebtn{position:absolute;top:2vh;left:2vh}
.sidenav .closebtn i{font-size:4vh}
.openbtn{cursor:pointer;display:flex}
.openbtn i{font-size:4vh;border:1px solid #0e2ea1;width:6vh;height:6vh;display:flex;align-items:center;justify-content:center;border-radius:1vh}
.sidenav .dd a i{font-size:2.5vh;width:4vh;height:4vh;display:inline-flex;align-items:center;justify-content:center;background:#fff;color:#0e2ea1;border-radius:.5vh}
.sidenav .accordion-button:not(.collapsed)::after{background-image:none;}
.sidenav .accordion-button::after{background-image:none!important;}
.sidenav .accordion-button:not(.collapsed){background-color:transparent!important;}
.sidenav .collapse .accordion-body a{font-size:2.5vh;}
.sidenav .collapse .accordion-button,.sidenav .collapse .accordion-body{padding:2vh;}
@media screen and (max-height:450px){
.sidenav{padding-top:15px}
.sidenav a{font-size:18px}
}
@media (max-width:576px){
.sddd .position-absolute{position:inherit!important;}
.m-xs-0{margin:0!important}
.m-xs-1{margin:.25rem!important}
.m-xs-2{margin:.5rem!important}
.m-xs-3{margin:1rem!important}
.m-xs-4{margin:1.5rem!important}
.m-xs-5{margin:3rem!important}
.m-xs-auto{margin:auto!important}
.mx-xs-0{margin-left:0!important;margin-right:0!important}
.mx-xs-1{margin-left:.25rem!important;margin-right:.25rem!important}
.mx-xs-2{margin-left:.5rem!important;margin-right:.5rem!important}
.mx-xs-3{margin-left:1rem!important;margin-right:1rem!important}
.mx-xs-4{margin-left:1.5rem!important;margin-right:1.5rem!important}
.mx-xs-5{margin-left:3rem!important;margin-right:3rem!important}
.mx-xs-auto{margin-left:auto!important;margin-right:auto!important}
.my-xs-0{margin-top:0!important;margin-bottom:0!important}
.my-xs-1{margin-top:.25rem!important;margin-bottom:.25rem!important}
.my-xs-2{margin-top:.5rem!important;margin-bottom:.5rem!important}
.my-xs-3{margin-top:1rem!important;margin-bottom:1rem!important}
.my-xs-4{margin-top:1.5rem!important;margin-bottom:1.5rem!important}
.my-xs-5{margin-top:3rem!important;margin-bottom:3rem!important}
.my-xs-auto{margin-top:auto!important;margin-bottom:auto!important}
.mt-xs-0{margin-top:0!important}
.mt-xs-1{margin-top:.25rem!important}
.mt-xs-2{margin-top:.5rem!important}
.mt-xs-3{margin-top:1rem!important}
.mt-xs-4{margin-top:1.5rem!important}
.mt-xs-5{margin-top:3rem!important}
.mt-xs-auto{margin-top:auto!important}
.me-xs-0{margin-left:0!important}
.me-xs-1{margin-left:.25rem!important}
.me-xs-2{margin-left:.5rem!important}
.me-xs-3{margin-left:1rem!important}
.me-xs-4{margin-left:1.5rem!important}
.me-xs-5{margin-left:3rem!important}
.me-xs-auto{margin-left:auto!important}
.mb-xs-0{margin-bottom:0!important}
.mb-xs-1{margin-bottom:.25rem!important}
.mb-xs-2{margin-bottom:.5rem!important}
.mb-xs-3{margin-bottom:1rem!important}
.mb-xs-4{margin-bottom:1.5rem!important}
.mb-xs-5{margin-bottom:3rem!important}
.mb-xs-auto{margin-bottom:auto!important}
.ms-xs-0{margin-right:0!important}
.ms-xs-1{margin-right:.25rem!important}
.ms-xs-2{margin-right:.5rem!important}
.ms-xs-3{margin-right:1rem!important}
.ms-xs-4{margin-right:1.5rem!important}
.ms-xs-5{margin-right:3rem!important}
.ms-xs-auto{margin-right:auto!important}
.p-xs-0{padding:0!important}
.p-xs-1{padding:.25rem!important}
.p-xs-2{padding:.5rem!important}
.p-xs-3{padding:1rem!important}
.p-xs-4{padding:1.5rem!important}
.p-xs-5{padding:3rem!important}
.px-xs-0{padding-left:0!important;padding-right:0!important}
.px-xs-1{padding-left:.25rem!important;padding-right:.25rem!important}
.px-xs-2{padding-left:.5rem!important;padding-right:.5rem!important}
.px-xs-3{padding-left:1rem!important;padding-right:1rem!important}
.px-xs-4{padding-left:1.5rem!important;padding-right:1.5rem!important}
.px-xs-5{padding-left:3rem!important;padding-right:3rem!important}
.py-xs-0{padding-top:0!important;padding-bottom:0!important}
.py-xs-1{padding-top:.25rem!important;padding-bottom:.25rem!important}
.py-xs-2{padding-top:.5rem!important;padding-bottom:.5rem!important}
.py-xs-3{padding-top:1rem!important;padding-bottom:1rem!important}
.py-xs-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}
.py-xs-5{padding-top:3rem!important;padding-bottom:3rem!important}
.pt-xs-0{padding-top:0!important}
.pt-xs-1{padding-top:.25rem!important}
.pt-xs-2{padding-top:.5rem!important}
.pt-xs-3{padding-top:1rem!important}
.pt-xs-4{padding-top:1.5rem!important}
.pt-xs-5{padding-top:3rem!important}
.pe-xs-0{padding-left:0!important}
.pe-xs-1{padding-left:.25rem!important}
.pe-xs-2{padding-left:.5rem!important}
.pe-xs-3{padding-left:1rem!important}
.pe-xs-4{padding-left:1.5rem!important}
.pe-xs-5{padding-left:3rem!important}
.pb-xs-0{padding-bottom:0!important}
.pb-xs-1{padding-bottom:.25rem!important}
.pb-xs-2{padding-bottom:.5rem!important}
.pb-xs-3{padding-bottom:1rem!important}
.pb-xs-4{padding-bottom:1.5rem!important}
.pb-xs-5{padding-bottom:3rem!important}
.ps-xs-0{padding-right:0!important}
.ps-xs-1{padding-right:.25rem!important}
.ps-xs-2{padding-right:.5rem!important}
.ps-xs-3{padding-right:1rem!important}
.ps-xs-4{padding-right:1.5rem!important}
.ps-xs-5{padding-right:3rem!important}
.d-xs-inline{display:inline!important}
.d-xs-inline-block{display:inline-block!important}
.d-xs-block{display:block!important}
.d-xs-grid{display:grid!important}
.d-xs-table{display:table!important}
.d-xs-table-row{display:table-row!important}
.d-xs-table-cell{display:table-cell!important}
.d-xs-flex{display:flex!important}
.d-xs-inline-flex{display:inline-flex!important}
.d-xs-none{display:none!important}
.col-xs{flex:1 0 0%}
.col-xs-auto{flex:0 0 auto;width:auto}
.col-xs-1{flex:0 0 auto;width:8.3333333333%}
.col-xs-2{flex:0 0 auto;width:16.6666666667%}
.col-xs-3{flex:0 0 auto;width:25%}
.col-xs-4{flex:0 0 auto;width:33.3333333333%}
.col-xs-5{flex:0 0 auto;width:41.6666666667%}
.col-xs-6{flex:0 0 auto;width:50%}
.col-xs-7{flex:0 0 auto;width:58.3333333333%}
.col-xs-8{flex:0 0 auto;width:66.6666666667%}
.col-xs-9{flex:0 0 auto;width:75%}
.col-xs-10{flex:0 0 auto;width:83.3333333333%}
.col-xs-11{flex:0 0 auto;width:91.6666666667%}
.col-xs-12{flex:0 0 auto;width:100%}
.faq-home .overlay,.services-home .overlay,.aboutus-home .overlay{position:inherit!important}
.services-home .bg,.aboutus-home .bg,.faq-home .bg,.bar-footer{display:none;}
header .header-img{overflow:hidden;display:flex;align-items:center;justify-content:flex-start;}
header .header-img img{max-width:200%!important;width:200%!important;}
header .overlay .col-xxl-5{text-align:right!important;}
header .overlay {align-items:center!important;}
header .overlay .col-xxl-5 h1{font-size:3vh;}
header .overlay .col-xxl-5 p{font-size:2.5vh;}
header .overlay .col-xxl-5 a{font-size:2vh!important;margin:0!important;border-radius:5vh 0 0 5vh!important;}
.aboutus-home,.faq-home{background:#edededad;margin-bottom:5vh;}
.container-sm,.container-md,.container-lg,.container-xl,.container-xxl{max-width:100%!important;width:100%!important;padding:0 2vh!important;}
.aboutus-home .overlay p{font-size:2.25vh;line-height:4.5vh;}
.faq-home .accordion-button{padding:1.5vh 6vh 1.5vh 1.75vh!important;font-size:2vh;}
.services-home .w-200 {width:25%!important;opacity:1!important;margin-left:auto;}
.services-home .overlay .col-xl-4 .col-sm-3{text-align:right;}
.services-home .overlay .col-xl-4 .bg-white{box-shadow:0 0 10px 0 rgba(0,0,0,.1)!important;}
.services-home{padding:3vh 0!important;}
}
@media (min-width: 576px) and (max-width: 768px) {
.sddd .position-absolute{position:inherit!important;}
}
@media (min-width: 768px) and (max-width: 992px) {
.sddd .position-absolute{position:inherit!important;}
}
@media (min-width: 992px) and (max-width: 1200px) {
.sddd .position-absolute{position:inherit!important;}
}
@media (min-width: 1200px) and (max-width: 1400px) {
.sddd .position-absolute{position:inherit!important;}
}
@media (min-width: 1400px) {}