<style>#text1{display:none;}.btn-container{margin: auto;height:44px;width:166.23px;}#toggle1{ font-weight: bold; background: none;color: #0044cc;border: none;cursor: pointer;position: relative; bottom: 0px;font-size: 15px;}.fade1 {background: linear-gradient(to bottom, rgba(100, 100, 100, 0) 0%, #ffffff 75%);height: 100px;margin-top: -100px;position: relative;}</style>

<script>
$(document).ready(function() {
    $("#toggle1").click(function() {
        var elem = $("#toggle1").text();
        if (elem == "نمایش بیشتر") {
            //Stuff to do when btn is in the read more state
            $("#toggle1").text("بستن");
            $("#text1").slideDown();
        } else {
            //Stuff to do when btn is in the read less state
            $("#toggle1").text("نمایش بیشتر");
            $("#text1").slideUp();
        }
    });
});
</script>

<h2>هدینگ قبل نمایش بیشتر</h2>
محتوای قبل دکمه نمایش بیشتر

<div>
<span id="text1">
<br>

محتوای درون نمایش بیشتر در این قسمت قرار میگیره

<br>
<br>
<br>
</span>
</div>
<div class="fade"></div>
<div class="btn-container"><center><button id="toggle1">نمایش بیشتر</button></center></div>